:root {
    --cor-Background: #000000;
    --cor-background2: #34454e;
    --cor-span: #f9004d;
    --cor-texto: #ffffff;
    --cor-btn-botton: #2bfdbe;
    --cor-span: #2bfdbe;

    --Roboto: 'Roboto', sans-serif;
}